doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class='bg-light p-4')

    main(class='container' style='max-width: 720px')
      
      //- Header Section with Branding
      div(class='d-flex align-items-center p-3 my-4 bg-light rounded shadow-sm')
        img(class='me-3', src='/images/Azure-A-48px-product.svg', alt='Azure Logo', width='48', height='48')
        div
          h1(class='h3 mb-0 text-primary lh-1') Azure Todo List
          small(class='text-muted') ExpressJS/MongoDB Sample Application

      //- Main Content Block
      block content

    //- Scripts
    script(src='/js/bootstrap.bundle.min.js')
